
.body{
    background-color: rgb(158, 201, 204);

}


.td{
    text-align: justify;

}

.h3{
    padding-top: 5px;
}
.img-thumbnail{
                    width: 200;
                    height: 200;
}