#rcorners1{
					
    <!-- background: url(Images/b3.png);-->
    background-repeat: repeat;
    padding-top:20px;

#table1{
    padding-top: 100px;
    padding-left:10px;
    background-color: #D5D8DC

}

#p1{
    text-align: justify;

}

#h3{
    padding-top: 50px;
}
